@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap");

* {
    --terang: #fbeee6;
    --sedang: #c19277;
    --gelap: #49261d;
    --pink: #df7788;
    --pink1: #e98495;
    --pinkterang: #ffe3de;
    --abu: rgb(170, 170, 170);
}

.container1 {
    width: 80%;
    margin-inline: auto;
    max-width: 1200px;
}
@media (max-width: 600px) {
    /* .container1 {
        width: 85%;
    } */
    h1 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    p,
    li {
        font-size: small;
    }
    .btn {
        font-size: small;
    }
}
.bg-gelap {
    background-color: var(--gelap);
}
.bg-terang {
    background-color: var(--sedang);
}
.bg-pink {
    background-color: var(--pink);
}
.bg-pinkterang {
    background-color: var(--pinkterang);
}
.bg-pinkterang1 {
    background-color: var(--terang);
}
.text-gelap {
    color: var(--gelap);
}
.text-gelap::-moz-selection {
    color: white;
    background: var(--gelap);
}
.text-gelap::selection {
    color: white;
    background: var(--gelap);
}
.text-terang {
    color: var(--sedang);
}
.text-terang::-moz-selection {
    color: white;
    background: var(--sedang);
}
.text-terang::selection {
    color: white;
    background: var(--sedang);
}
.text-pink {
    color: var(--pink);
}
.text-pinkterang {
    color: var(--pinkterang);
}
.text-poppins {
    font-family: "Poppins", serif;
}
.text-indie {
    font-family: "Indie Flower", serif;
}
.text-slab {
    font-family: "Hepta Slab", serif;
}
.vertical-text {
    text-wrap: nowrap;
    font-family: "Hepta Slab", serif;
    color: var(--abu);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.vertical-text.terang {
    color: var(--pinkterang);
}
.vertical-text p {
    font-size: small;
    margin: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.vertical-text::after {
    content: "";
    display: block;
    height: 70px;
    width: 1px;
    background-color: var(--abu);
}
.vertical-text.terang::after {
    background-color: var(--pinkterang);
}
@media (max-width: 600px) {
    .vertical-text p {
        font-size: 10px;
    }
}

.btn-terang {
    padding-inline: 1em;
    background-color: var(--pink);
    color: white;
    transition: 0.1s;
}
.btn-terang:hover {
    background-color: var(--sedang);
    color: white;
    transition: 0.1s;
}
.btn-gelap {
    padding-inline: 1em;
    background-color: var(--gelap);
    color: white;
    transition: 0.1s;
}
.btn-gelap:hover {
    background-color: var(--sedang);
    color: white;
    transition: 0.1s;
}

.material-icons,
.material-symbols-outlined {
    display: block;
}

.baris-ke-kolom {
    display: flex;
}
.baris-ke-kolom-reverse {
    display: flex;
}
@media (max-width: 900px) {
    .baris-ke-kolom {
        flex-direction: column;
    }
    .baris-ke-kolom-reverse {
        flex-direction: column-reverse;
    }
}

.show-flex-ke-hide {
    display: flex;
}
.show-block-ke-hide {
    display: block;
}
.hide-ke-show-block {
    display: none;
}
@media (max-width: 600px) {
    .show-flex-ke-hide {
        display: none;
    }
    .show-block-ke-hide {
        display: none;
    }
    .hide-ke-show-block {
        display: block;
    }
}

.btn-play {
    background-color: var(--pink);
    width: fit-content;
    padding: 0.5em;
    border-radius: 2em;
    color: var(--terang);
    cursor: pointer;
    transition: 0.3s;
}
.btn-play:hover {
    background-color: var(--pinkterang);
    color: var(--pink);
    transition: 0.3s;
}
.btn-play-terang {
    background-color: var(--terang);
    width: fit-content;
    padding: 0.5em;
    border-radius: 2em;
    color: var(--pink);
    cursor: pointer;
    transition: 0.3s;
}
.btn-play-terang:hover {
    background-color: var(--pinkterang);
    color: var(--pink);
    transition: 0.3s;
}
.container-audio {
    overflow-x: auto;
    width: 100%;
    scroll-snap-type: x mandatory;
}
.container-audio::-webkit-scrollbar {
    display: none;
}
.item-audio {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: default;
    width: fit-content;
    scroll-snap-align: start;
}
.item-audio p {
    font-weight: 500;
    color: var(--gelap);
    line-height: 20px;
    text-wrap: nowrap;
}
.item-audio a {
    display: block;
    max-height: 0;
    overflow: hidden;
    text-decoration: none;
    color: var(--abu);
    line-height: 20px;
    transition: 0.4s;
}
.item-audio a:hover {
    color: var(--pink);
    transition: 0.4s;
}
.item-audio:hover a {
    max-height: 25px;
    transition: 0.4s;
}

hr.bg-pink {
    border: 1px solid var(--pink);
}
hr.bg-pinkterang {
    border: 1px solid var(--pinkterang);
}
